.postContainer{
    width: 60%;
    margin: auto;
}

.title{
    margin: auto;
    font-size: 50px;
    color: #7763FA;
    font-weight: 400;
}
.titleContainer{
    display: flex;
    align-items: center;
    margin-top: 2%;
}

.titleUsers{
    margin: auto;
    font-size: 20px;
    color: #7763FA;
    font-weight: 400;
}

.usersList{
    width: 20%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    border-radius: 25px;
    border: 3px solid #7763FA;
}